:root {
    --font-primary: "adso", helvetica, arial, sans-serif;
    --font-secondary: "Inter", helvetica, arial, sans-serif;

    --grey-0: #ffffff;
    --grey-1: #f7f7f7;
    --grey-2: #e6e6e6;
    --grey-3: #d2d2d2;
    --grey-4: #969696;
    --grey-5: #7d7d7d;
    --grey-6: #484848;
    --grey-7: #191919;
    --grey-8: #131313;
    --grey-9: #000000;

    --brand-positive: rgb(29, 129, 71);
    --brand-negative: #962828;
    --brand-alert: #f7bc1b;
    --brand-focus: rgb(33, 97, 186);
}

::selection {
    color: #962828;
    background: #f7bc1b;
}

.light {
    --surface-primary: var(--grey-0);
    --surface-secondary: var(--grey-1);
    --surface-tetiary: var(--grey-3);
    --surface-invert: var(--grey-9);

    --text-primary: var(--grey-9);
    --text-secondary: var(--grey-6);
    --text-tetiary: var(--grey-4);
    --text-invert: var(--grey-0);
    --text-invert-secondary: var(--grey-2);

    --border-neg: var(--grey-1);
    --border-primary: var(--grey-2);
    --border-secondary: var(--grey-3);
    --border-tetiary: var(--grey-4);

    transition: all 400ms ease;

    --l1: var(--grey-0);
    --l2: var(--grey-1);
    --l3: var(--grey-2);
    --l4: var(--grey-3);
    --l5: var(--grey-4);
    --l6: var(--grey-5);
    --l7: var(--grey-6);
    --l8: var(--grey-7);
    --l9: var(--grey-8);
    --l10: var(--grey-9);
}

.dark {
    --surface-primary: var(--grey-9);
    --surface-secondary: var(--grey-8);
    --surface-tetiary: var(--grey-7);
    --surface-invert: var(--grey-0);

    --text-primary: var(--grey-0);
    --text-secondary: var(--grey-3);
    --text-tetiary: var(--grey-4);
    --text-invert: var(--grey-9);
    --text-invert-secondary: var(--grey-8);

    --border-neg: var(--grey-9);
    --border-primary: var(--grey-8);
    --border-secondary: var(--grey-6);
    --border-tetiary: var(--grey-5);

    --l1: var(--grey-9);
    --l2: var(--grey-8);
    --l3: var(--grey-7);
    --l4: var(--grey-6);
    --l5: var(--grey-5);
    --l6: var(--grey-4);
    --l7: var(--grey-3);
    --l8: var(--grey-2);
    --l9: var(--grey-1);
    --l10: var(--grey-0);

    transition: all 400ms ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    color: var(--text-primary);
}

body {
    background-color: var(--surface-secondary);
    color: var(--text-primary);
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

button {
    font-family: var(--font-secondary);
    font-weight: 400;
    border: none;
    border-radius: 4px;
    color: var(--text-secondary);
    background-color: var(--surface-secondary);
    padding: .75rem 1rem;
    cursor: pointer;
    transition: transform 120ms ease-in-out;

    &:hover {
        opacity: 90%;
        transform: translateY(-2px);
    }
}


/* NAV */

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    padding-top: 3.4rem;
    padding-bottom: 2rem;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    font-weight: 500;
    background-color: var(--surface-primary);

    & p {
        font-family: var(--border-primary);
        color: var(--border-secondary);
    }
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & button {
        background-color: transparent;
        margin-top: 4px;
        padding: 0;
    }
}

.rc-icon {
    width: 40px;
    height: 40px;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .4rem;
}

.social-btn {
    width: 2rem;
    height: 2rem;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-neg);
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;

    transition: transform 120ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    /* &:hover {
        transform: translateY(-2px);
        transition: transform 200ms ease-in-out;
    } */
}

/* HERO */
.main-container,
.main-details-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
        font-size: 1.1rem;
    }
}

.btn-primary {
    background: var(--surface-invert);
    border-bottom: 1px solid var(--border-secondary);
    border-radius: 6px;
    width: 9.5rem;
    height: 3.2rem;
    font-weight: 400;
    font-size: .9rem;
    padding-right: 1.5rem;
    color: var(--text-invert-secondary);
    margin-right: .75rem;
    margin-bottom: 1rem;

    & a {
        color: var(--text-invert-secondary);
    }
}

.btn-secondary {
    background: var(--surface-secondary);
    border-bottom: 1px solid var(--border-primary);
    border-radius: 6px;
    width: 10rem;
    height: 3.2rem;
    font-weight: 400;
    font-size: .9rem;
    padding-right: 1.5rem;

    & a {
        color: var(--text-secondary);
    }
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem;
    padding-bottom: 5rem;
    gap: 2rem;
    background-color: var(--surface-primary);

    & h1 {
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & p {
        font-family: var(--font-secondary);
        color: var(--text-tetiary);
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 3rem;
    }
}

.hero-left {
    width: 40%;
    min-width: 460px;
    max-width: 600px;
}

.hero-right {
    width: 60%;
    padding: 0 6rem;
    max-width: 550px;
}

.section-title-container {
    width: 100vw;
    padding: 0 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .section-title {
        color: var(--border-secondary);
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.work-history-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    gap: 2rem;
    padding: 3rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    background-color: var(--surface-primary);
    border-bottom: 1px solid var(--border-primary);

    & svg {
        width: 100%;

        & path {
            fill: var(--border-secondary);
        }
    }
}

/* SPECTRUM */
.spectrum-svg {
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 50%;
    left: 50%;
    mix-blend-mode: multiply;
}

.spectrum {
    width: 100%;
    height: 100%;
    padding: 5%;
}

.l1 {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--border-neg);
    background-color: var(--l1);
    z-index: 0;
    min-width: 300px;
    max-height: 300px;
}

.l2 {
    background-color: var(--l2);
    z-index: 1;
}

.l3 {
    background-color: var(--l3);
    z-index: 2;
}

.l4 {
    background-color: var(--l4);
    z-index: 3;
}

.l5 {
    background-color: var(--l5);
    z-index: 4;
}

.l6 {
    background-color: var(--l6);
    z-index: 5;
}

.l7 {
    background-color: var(--l7);
    z-index: 6;
}

.l8 {
    background-color: var(--l8);
    z-index: 7;
}

.l9 {
    background-color: var(--l9);
    z-index: 8;
}

.l10 {
    background-color: var(--l10);
    z-index: 9;
}


/* Philosophy Section */

.philosophy-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    gap: .75rem;
    padding: 2rem;
    margin-bottom: 5rem;
}

.principle {
    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    transition: transform 120ms ease-in-out;
    overflow: hidden;

    & img {
        object-fit: fit;
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--border-primary);
    }

    & h1 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        color: var(--text-secondary);
        margin: 0 2.5rem;
        margin-bottom: 1rem;
    }

    & p {
        font-size: .85rem;
        color: var(--text-tetiary);
        margin: 0 2.5rem;
        margin-bottom: 3.5rem;
    }
}

/* Skills Container */

.skills-container {
    width: 100%;
    display: flex;
    padding: 3rem;
    gap: 3rem;
    margin-bottom: 5rem;
}

.skills-left {
    width: 50%;

    & p {
        color: var(--text-tetiary);
    }

    & span {
        color: var(--text-secondary);
        font-weight: 600;
    }

}

.skills-right {
    width: 50%;

    & p {
        color: var(--text-tetiary);
    }

    & span {
        color: var(--text-secondary);
        font-weight: 600;
    }
}

/* Theme Toggle */

.theme-switcher {
    width: 3.8rem;
    height: 2rem;
    background-color: var(--surface-secondary);
    border: 1px solid var(--border-neg);
    border-radius: 3rem;
    margin-left: 1rem;
    cursor: pointer;

    position: relative;

    .light-icon {
        position: absolute;
        top: 7px;
        left: 7px;
    }

    .dark-icon {
        position: absolute;
        top: 9px;
        right: 10px;
    }
}

.toggle {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-neg);
    border-radius: 3rem;
    margin: 1px;
}

.slideRight {
    transform: translateX(28px);
    transition: transform 400ms ease-in-out;
}

.slideLeft {
    transform: translateX(0px);
    transition: transform 400ms ease-in-out;
}


/* Projects */

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    gap: .75rem;
    padding: 2rem;
    margin-bottom: 5rem;
}

.project {

    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    transition: transform 120ms ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        transform: translateY(-6px);
    }

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & video {
        width: 100%;
        aspect-ratio: 4/3;
    }
}

.cw-ixd,
.blender {
    background-color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;

    & p {
        color: var(--text-tetiary);
    }

    & span {
        color: var(--brand-negative);
    }

    & a {
        text-decoration: none;
        color: var(--text-tetiary);
        cursor: pointer;
    }
}

/* PROJECT DETAILS projects.html */

.main-details-container {
    background-color: var(--surface-primary);
    padding-bottom: 8rem;
    border-bottom: 1px solid var(--border-primary);
}

.details {
    width: 80%;
    max-width: 900px;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    & button {
        margin-top: 2rem;
        width: 6.5rem;
        border-bottom: 1px solid var(--border-primary);
    }

    & h1 {
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 3rem;
        margin-top: 4rem;
    }

    & p {
        font-family: var(--font-secondary);
        color: var(--text-secondary);
        font-weight: 300;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
        max-width: 860px;
        line-height: 1.75rem;
    }

    .details-img-container {
        margin-top: 5rem;
        background: var(--surface-primary);
        border: 1px solid var(--border-primary);
        border-radius: 1rem;
        padding: 1rem;
    }

    & img {

        width: 100%;
    }

    & video {
        width: 100%;
    }

}

.details-body {
    background-color: var(--surface-primary);
    width: 100vw;
    height: 100vh;
}

/* RESPONSIVE */

@media (max-width: 920px) {

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    .hero-left {
        width: 100%;
        min-width: 100%;
        max-width: 100%;

        & h1 {
            font-size: 4.2rem;
            line-height: 4.5rem;
            margin-bottom: 2.5rem;
        }
    }

    .hero-right {
        display: none;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-left,
    .skills-right {
        width: 100%;
    }
}

@media (max-width: 460px) {
    nav {
        padding: 1rem 2.5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .left-nav p {
        display: none;
    }

    .hero-container h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        padding-bottom: 5rem;
    }

    .hero-left {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .projects-container {
        gap: .5rem;
        padding: 1rem;
    }

    .details {
        width: 90%;

        & p {
            margin-bottom: 1rem;
        }

        & button {
            margin-top: 0rem;
        }
    }

    .details-img-container {
        border-radius: 4px;
        padding: .15rem;
        margin-top: 1rem;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
    }

    .work-history-container {
        padding: 1rem;
        gap: 3rem;
        padding-bottom: 5rem;
    }
}