:root {
    --font-primary: "adso", helvetica, arial, sans-serif;
    --font-secondary: "Inter", helvetica, arial, sans-serif;

    --grey-0: #ffffff;
    --grey-1: #f7f7f7;
    --grey-2: #e6e6e6;
    --grey-3: #d2d2d2;
    --grey-4: #969696;
    --grey-5: #7d7d7d;
    --grey-6: #484848;
    --grey-7: #191919;
    --grey-8: #131313;
    --grey-9: #000000;

    --brand-positive: green;
    --brand-negative: red;
    --brand-alert: yellow;
    --brand-focus: rgb(0, 106, 255);
}

::selection {
    color: #962828;
    background: #f7bc1b;
}

.light {
    --surface-primary: var(--grey-0);
    --surface-secondary: var(--grey-1);
    --surface-tetiary: var(--grey-2);
    --surface-invert: var(--grey-9);

    --text-primary: var(--grey-9);
    --text-secondary: var(--grey-6);
    --text-tetiary: var(--grey-4);
    --text-invert: var(--grey-0);

    --border-primary: var(--grey-2);
    ;
    --border-secondary: var(--grey-3);

    transition: all 500ms ease;
}

.dark {
    --surface-primary: var(--grey-9);
    --surface-secondary: var(--grey-8);
    --surface-tetiary: var(--grey-7);
    --surface-invert: var(--grey-0);

    --text-primary: var(--grey-0);
    --text-secondary: var(--grey-3);
    --text-tetiary: var(--grey-4);
    --text-invert: var(--grey-9);

    --border-primary: var(--grey-8);
    --border-secondary: var(--grey-7);

    transition: all 500ms ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    color: var(--text-primary);
}

body {
    background-color: var(--surface-secondary);
    color: var(--text-primary);
    width: 100vw;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

button {
    font-family: var(--font-secondary);
    font-weight: 400;
    border: none;
    border-radius: 4px;
    color: var(--text-secondary);
    background-color: var(--surface-secondary);
    padding: .75rem 1rem;
    cursor: pointer;
    transition: transform 120ms ease-in-out;

    &:hover {
        opacity: 90%;
        transform: translateY(-2px);
    }
}

/* NAV */

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    font-family: var(--font-primary);
    font-size: 1.75rem;
    font-weight: 500;

    & p {
        font-family: var(--border-primary);
    }
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & button {
        background-color: transparent;
        margin-top: 4px;
        padding : 0;
    }
}

.rc-icon {
    width: 40px;
    height: 40px;
    z-index: 3;
}

.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .4rem;
}

.social-btn {
    width: 2rem;
    height: 2rem;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;

    transition: transform 120ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    /* &:hover {
        transform: translateY(-2px);
        transition: transform 200ms ease-in-out;
    } */
}

/* HERO */
.main-container,
.main-details-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
        font-size: 1.1rem;
    }

    & button {
        background: var(--surface-tetiary);
        color: var(--text-secondary);
        border-bottom: 1px solid var(--border-secondary);
        width: 9rem;
    }
}

.hero-container {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    & p {
        font-family: var(--font-secondary);
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 3rem;
        max-width: 500px;
    }

}

/* Theme Toggle */

.theme-switcher {
    width: 3.8rem;
    height: 2rem;
    background-color: var(--surface-tetiary);
    border: 1px solid var(--border-secondary);
    border-radius: 3rem;
    margin-left: 1rem;
    cursor: pointer;

    position: relative;

    .light-icon {
        position: absolute;
        top: 7px;
        left: 7px;
    }

    .dark-icon {
        position: absolute;
        top: 9px;
        right: 10px;
    }
}

.toggle {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: 3rem;
    margin: 1px;
}

.slideRight {
    transform: translateX(28px);
    transition: transform 400ms ease-in-out;
}

.slideLeft {
    transform: translateX(0px);
    transition: transform 400ms ease-in-out;
}


/* Projects */

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    gap: .75rem;
    padding: 2rem;
}

.project {

    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    transition: transform 120ms ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        transform: translateY(-6px);
    }

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & video {
        width: 100%;
        aspect-ratio: 4/3;
    }
}

.cw-ixd,
.blender {
    background-color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;

    & p {
        color: var(--text-tetiary);
    }

    & span {
        color: var(--brand-negative);
    }

    & a {
        text-decoration: none;
        color: var(--text-tetiary);
        cursor: pointer;
    }
}

/* PROJECT DETAILS projects.html */

.details {
    width: 80%;
    max-width: 900px;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    & button {
        margin-top: 2rem;
        width: 6.5rem;
    }

    & h1 {
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 4rem;
    }

    & p {
        font-family: var(--font-secondary);
        color: var(--text-secondary);
        font-weight: 300;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
        max-width: 860px;
        line-height: 1.75rem;
    }

    .details-img-container {
        margin-top: 5rem;
        background: var(--surface-primary);
        border: 1px solid var(--border-primary);
        border-radius: 1rem;
        padding: 1rem;
    }

    & img {

        width: 100%;
    }

    & video {
        width: 100%;
    }

}

/* RESPONSIVE */

@media (max-width: 460px) {
    nav {
        padding: 1rem 2.5rem;
    }

    .left-nav p {
        display: none;
    }

    .hero-container h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .projects-container {
        gap: .5rem;
        padding: 1rem;
    }

    .details {
        width: 90%;

        & p {
            margin-bottom: 1rem;
        }

        & button {
            margin-top: 0rem;
        }
    }

    .details-img-container {
        border-radius: 4px;
        padding: .15rem;
        margin-top: 1rem;
    }

    
}